
 
.container1 {
  width:800px;
  margin:0 auto;
  text-align: justify;
  padding-top: 100px; 
  font-size: 20px;
}
.container2 {
  font-size:25px;
  width:800px;
  margin:0 auto;
  text-align: justify;
  font-weight: bold;
}




@media (max-width: 2000px) {
  .container1 {
    width: 800px;
  }
@media (max-width: 960px) {
  .container1 {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container1 {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container1 {
    width: 300px;
  }



@media (max-width: 2000px) {
  .container2 {
    width: 800px;
  }
@media (max-width: 960px) {
  .container2 {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container2 {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container2 {
    width: 300px;
  }
